body {
  background: fixed url("background.jpg") 0% 0%;
  background-size: cover;
  }

img.welcome {
  width: 100%;
  margin: 0 0 2em 0;
}

.customimage img{
  max-width: 100%;
}

.box {
  //background: rgba(0, 0, 0, 1);
}

.cont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cont > * {
	height: 33.3vh;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 1em;
}

h3 {
  margin: 1em 0;
}

footer {
  text-align: center;
}

.links {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.link {
    text-decoration: none;
    box-sizing:border-box;
    width: 10%;
}

.item-1 {
    height:100%;
}

.item-2 {
    height:100%;
}

.item-3 {
    height:10vh;
}
@media screen and (max-width: 720px) {
  .box {
    padding: 1em;
  }
  .box li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
}
